
.button--blue {

  width:60px;
  cursor: pointer;
  background: #25A7F0;
  border: 2px solid #25A7F0;
  border-radius: 7px;
  color: white;
}

.button--blue:hover {
  background: #208ece;
}

.button--white:hover {
  background: rgb(233, 231, 231);
}

.button--white {
  
  width: 60px;
  cursor: pointer;
  border: 2px solid #25A7F0;
  background: white;
  border-radius: 7px;
  color: #25A7F0;

  
}


.group-logo-style{
  display: flex;
  align-items: center;
  width: 257px;
  height: 48px;
  gap: 42px;


}

.logo--standard {

  margin-left: 29px;
  width: 40px;
  height: 40px;


}

.container--form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
}

.title-logo{
  font-family: 'Inter', sans-serif;
  font-style: normal;
font-weight: 400;
font-size: 25px;
display: flex;
align-items: center;
color: #000000;


}
.header-img {
  cursor: pointer;
}

.size-button {
 
  width: 100px;
  height: 35px;
  cursor: pointer;
}






